* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro", sans-serif;
  background-color: #000;
  color: #fff;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

.header {
  height: 34px;
  width: 100%;
  background-color: #000;
}

.front {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sub-header {
  height: 52px;
  padding: 10px 208px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  #title {
    font-size: 21px;
    font-weight: 600;
  }
  #links {
    font-family: "SF Pro Text", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    font-size: 12px;
    .grey {
      color: #8e8e93;
    }
    .blue {
      background-color: #007aff;
      padding: 5px 8px;
      border-radius: 40px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  position: relative;
  // margin-top: 30px;
  #fade-text {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #000000;
    z-index: 2;
    padding-top: 30px;
    opacity: 0;
    #block {
      height: 100%;
      width: 100%;
      position: absolute;
      background: radial-gradient(circle, #00000000 0%, #000000 0%);
      z-index: 3;
    }
    p {
      padding: 0 208px;
      font-size: 56px;
      line-height: 60px;
      font-weight: 600;
      margin-top: 10px;
      background-image: radial-gradient(
        circle at 50% 83.9236vh,
        #fec1cf 8.73843vh,
        #fc46aa 78.6921vh,
        #742f78 116.431vh,
        #00000000 146.431vh
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      background-size: auto 600%;
    }
    .container-1 {
      padding: 0 208px;
      opacity: 0;
      h1 {
        font-size: 21px;
        font-family: "SF Pro Display", sans-serif;
        color: #868689;
        font-weight: 500;
        margin-top: 30px;
      }
      .buttons {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        font-size: 21px;
        font-family: "SF Pro Display", sans-serif;
        font-weight: 600;
        color: #fff;
      }
    }
  }
  #logo {
    padding-top: 30px;
    z-index: 1;
  }
  .hero-container {
    position: relative;
    #hero {
      margin-top: -80px;
    }
    #hero-text {
      position: absolute;
      font-size: 90px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      background-image: radial-gradient(
        circle at 50% 33.9555vh,
        #fdb2c3 5.34075vh,
        #fc46aa 61.7037vh,
        #742f78 96.0445vh,
        // #00000000 126.044vh
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      background-size: auto 600%;
    }
  }
}

#front-container {
  height: 200vh;
}

.section-2 {
  padding: 60px 208px;
  // height: 100vh;
  color: #fff;
  h2 {
    font-size: 24px;
    font-weight: 500;
  }
  h1 {
    font-size: 80px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 0.95;
  }
  .video-ctn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    video {
      height: 600px;
      width: 550px;
    }
  }
  p {
    font-size: 28px;
    margin-top: 50px;
    width: 50%;
    line-height: 32px;
    left: 50%;
    position: relative;
  }
  .gap {
    margin-top: 200px;
  }
  .gap-2 {
    margin-top: 40px;
  }
  span {
    font-size: 12px;
    font-family: "SF Pro Text", sans-serif;
    color: #d2d2d7;
    background-color: #353536;
    padding: 4px 7px;
    border-radius: 5px;
  }
}

.section-3 {
  // height: 100vh;
  width: 100vw;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding: 0 208px;
    font-size: 170px;
    color: #1db4f6;
    font-weight: 500;
    opacity: 0.1;
    z-index: 1;
  }
  video {
    height: 700px;
    width: 100%;
    margin-top: -200px;
  }
  p {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 75px;
  }
}

.section-4 {
  // height: 200vh;
  padding: 200px 0;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 100px;
    li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 20px;
      h1 {
        font-weight: 500;
        font-size: 40px;
      }
    }
    #ex5 {
      margin-bottom: 100px;
    }
  }
  .screens {
    display: grid;
    justify-self: center;
    position: absolute;
    transform: translateY(50px);
    // bottom: 15px;
    z-index: 2;
    img {
      border-radius: 21%;
      scale: 0.875;
      grid-area: 1/1;
    }
  }
  #watch {
    overflow: hidden;
    position: sticky;
    bottom: -355px;
    width: 100%;
  }
}

.section-5 {
  width: 100vw;
  height: 150vh;
  overflow: clip;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .brightness {
    position: relative;
    #dim {
      position: absolute;
      transform: translateX(-28%);
      z-index: 1;
    }
    #bright {
      position: absolute;
      transform: translateX(-28%);
    }
  }
  .brightness-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-right: 320px;
    padding-top: 480px;
    z-index: 5;
    h2 {
      font-size: 28px;
      font-weight: 500;
    }
    h1 {
      font-size: 64px;
      font-weight: 500;
      margin-top: 15px;
      line-height: 68px;
    }
    p {
      font-size: 19px;
      margin-top: 15px;
      line-height: 23px;
    }
  }
}

.section-6 {
  height: 950px;
  border-top: 1px solid #6d7278;
  border-bottom: 1px solid #6d7278;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  .siri {
    border-right: 1px solid #6d7278;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    /// add background image at the bottom of the div
    background-image: url("images/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h2 {
      font-size: 19px;
      color: #868689;
      font-weight: 500;
      line-height: 25px;
      span {
        color: #fff;
      }
    }
    h1 {
      padding-top: 250px;
      background-image: linear-gradient(100deg, #77fafc, #a8fcfd 25%, #c100b0);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 48px;
      line-height: 52px;
      font-weight: 500;
      text-align: center;
      z-index: 5;
    }
    img {
      position: absolute;
      margin-top: 370px;
      height: 500px;
      width: 500px;
      overflow: clip;
    }
  }
  .homepod {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    position: relative;
    overflow: clip;
    h2 {
      font-size: 19px;
      color: #868689;
      font-weight: 500;
      line-height: 25px;
      span {
        color: #fff;
      }
    }
    .watchCtn {
      position: relative;
      video {
        position: absolute;
        height: 258px;
        width: 212px;
        border-radius: 20%;
        transform: translate(15%, 50%);
      }
      #redWatch {
        margin-top: 35px;
      }
    }
    #homepod {
      position: absolute;
      scale: 1.1;
      bottom: 0;
    }
  }
}

.section-7 {
  height: 200vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: clip;
  .sticky {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // top: 90px;
    video {
      position: absolute;
      height: 294px;
      width: 240px;
      border-radius: 20%;
      z-index: 2;
    }
    img {
      position: relative;
    }
    p {
      position: absolute;
      // top: 0;
      left: 64%;
      transform: translateY(20px);
      opacity: 0.5;
      font-size: 19px;
      line-height: 25px;
      color: #868689;
      font-weight: 500;
      span {
        color: #fff;
      }
    }
  }
}

.section-8 {
  height: 1150px;
  border-top: 1px solid #6d7278;
  border-bottom: 1px solid #6d7278;
  padding-top: 200px;
  overflow: clip;
  .watchOs {
    padding: 0 208px;
    h2 {
      font-size: 24px;
      font-weight: 500;
    }
    h1 {
      font-size: 80px;
      line-height: 84px;
      font-weight: 500;
      margin-top: 20px;
    }
  }
  .greyWatch {
    padding-top: 350px;
    position: relative;
    mask-position: center;
    display: grid;
    justify-items: center;
    .inline {
      top: 5px;
      grid-area: 1 / 1;
      position: relative;
      video {
        // position: absolute;
        height: 340px;
        width: 554px;
        scale: 1.4;
      }
    }
    img {
      mask-image: url("images/watchos_watch_mask__gmmery5tj9iu_medium_2x.png");
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      margin: 0 auto;
      grid-area: 1 / 1;
    }
  }
}

.section-9 {
  height: 1250px;
  overflow-x: hidden;
  padding-top: 180px;
  img {
    height: 520px;
    width: 3000px;
  }
  p {
    position: absolute;
    margin-top: 80px;
    font-size: 19px;
    line-height: 23px;
    font-weight: 500;
    right: 250px;
    padding-bottom: 300px;
  }
}

.section-10 {
  height: 500vh;
  width: 100vw;
  background-color: #fff;
  .sticky-content {
    position: sticky;
    top: 0;
    height: 100vh;
    display: grid;
    overflow: hidden;
    place-items: center;
    width: 100%;
    .lottie-container {
      height: 100vh;
      display: grid;
      grid-area: 1/1;
      width: 100%;
      .lottie-animation {
        display: block;
        width: max(100vh, 100vw);
        height: max(100vw, 100vh);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .carbon-headlines {
    // transform: matrix(0.7, 0, 0, 0.7, 0, 0);
    grid-area: 1/1;
    margin: 0;
    color: #1d1d1f;
    place-items: center;
    text-align: center;
    z-index: 1;
    display: grid;
    font-size: 80px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
      sans-serif;
    #zoom1 {
      opacity: 0;
      position: absolute;
    }
    #zoom2 {
      opacity: 0;
    }
  }
}
